<div class="well">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="Username..." data-ng-model="aux.username" disabled>
      
      <input type="password" class="form-control" id="password" placeholder="Password..." data-ng-model="aux.password" required>
      
      <input type="text" class="form-control" id="realname" placeholder="Real Name..." data-ng-model="aux.realname" required>
      
      <button type="submit" class="btn btn-primary" data-ng-click="update()">Save</button>
    </div>
  </form>
</div>